p {
    color: black;
    font-size: 20px;
    text-align: justifify;
}

body {
    text-align: left;
    background-color: #451952;
}

#titulo {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #040D12;
}

.texto {
    text-align: justify;
    font-size: 20px;
    color: gray
}

#banner{
    width: 50%;
    margin: 24px;
    padding: 24px;
}

.titulo-principal{
background-image: linear-gradient(#ff5858,#ffc8c8);
color: white;
}
